.gradient-custom-3 {
    /* fallback for old browsers */
    background-image: url('../image1.jpg');
    background-size: 100%;
    box-shadow:inset 0 0 0 2000px rgba(174, 161, 196, 0.6);
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(71, 220, 125, 0.5), rgba(143, 211, 244, 0.5)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(99, 188, 233, 0.5)) */
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(83, 184, 120), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }